{% extends "skeleton.html" %}

{% load i18n %}

{% block content %}
    {% if selected_submodule %}
        {% load submodule_tabs %}
        {% submodule_tabs selected_submodule %}
    {% endif %}

    <div id="fields_wrapper">
        {% if data_groups %}
            {% for group in data_groups %}
                <fieldset>
                    <legend>{{ group.name|capfirst }}</legend>
                
                    {% for data in group.data %}
                        {% for entry in data %}
                            <div class="field_row clearfix">
                                {{ entry.field }}
                                <div class='form_field'>{{ entry.data }}</div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </fieldset>
            {% endfor %}
        {% else %}
            {% trans "No data to display." %} 
        {% endif %}
    </div>

    <!--

    <div id="table_holder">
        <table>
            {% if column_data %}
                <thead>
                    <tr>
                        {% for column in columns %}
                            <th>{{ column|capfirst }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                
                <tbody>
                    {% for row in column_data %}
                        {% if row.detail_url %}
                            <tr class='clickable' onclick="document.location.href='{{ row.detail_url }}';">
                        {% else %}
                            <tr>
                        {% endif %}
                            {% for column in row.fields %}
                                <td>{{ column }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            {% else %}
                 <thead>
                    <tr>
                        <th> {% trans "No data to display." %} </th>
                    </tr>
                </thead>
            {% endif %}
        </table>
    </div>
    -->
{% endblock %}

