<div id='tab-navigation'>
    <ul>
        {% for submodule in all_submodules %}
            {% if selected_submodule.id = submodule.id %}
                <li class='selected'>
                    <a href='{{ submodule.path }}' class='selected'>{{ submodule.name|capfirst }}</a>
                </li>
            {% else %}
                <li>
                    <a href='{{ submodule.path }}'>{{ submodule.name|capfirst }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
