{% load i18n %}
{% load module_panel %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<title>
		{% trans "CenTRO ::: Powered by Python" %}
	</title>

	<!-- THE STYLE FOR THE WHOLE PAGE-->
	<link rel="stylesheet" rev="stylesheet" href="/css/style_green.css"/>

	<!-- STYLE FOR TABLES OF RECORDS -->
	<link rel="stylesheet" rev="stylesheet" href="/css/style_green_tables.css"/>

	<!-- STYLE FOR FORM EDITION (WITHIN THE CONTENT AREA OF THE PAGE) -->
	<link rel="stylesheet" rev="stylesheet" href="/css/style_green_edit_form.css"/>
	
	<!-- STYLE FOR TAB NAVIGATION INSIDE MODULES -->
	<link rel="stylesheet" rev="stylesheet" href="/css/style_green_tabs.css"/>

	<!-- JQUERY LIBRARY -->
	<script src="/js/jquery.js" type="text/javascript" language="javascript" charset="UTF-8"></script>

	<!-- COMMON.JS MAKES USE OF THIS LIBRARY -->
	<script src="/js/jquery.form.js" type="text/javascript" language="javascript" charset="UTF-8"></script>

	<!-- SOME COMMON JS FUNCTIONS USED THROUGHOUT THE APPLICATION -->
	<script src="/js/common.js" type="text/javascript" language="javascript" charset="UTF-8"></script>	
</head>

<body>
	<!-- MAIN CONTAINER -->
	<div id="container">

		<!-- CONTENT PANEL -->
		<div id="content-panel">
			{% block content %} Application content goes here. {% endblock %}
		</div>

        <!-- MODULE PANEL or SALE DISPLAY -->
        {% block right_column %}
            <div id="module-panel">
                {% module_panel %}
            </div>
        {% endblock %}

		<!-- STATUS PANEL and PAGE FOOTER -->
		{% block footer %} Here goes the page footer {% endblock %}
	</div>
	
	<!-- PROGRAM NAME, VERSION, USER AND TERMINAL ID -->
	<p>
        {% if user.is_authenticated %}
            {{ user.username }}
        {% else %}
            {% trans "Anonymous" %}
        {% endif %}
        @ {{ terminal_name }}  ..:: {{ application_name }} v{{ application_version }} ::.. 
	</p>	
</body>
</html>

